<div class="q-wrap">
  <div class="q-wrap">
    <div class="q-word"><%= @dictionaries[0].word %></div>
    <div class="q-mean"><%= @dictionaries[0].mean %></div>
  </div>
  <%= image_tag("keybo.png")%>


  <div class="keyboard-section">
    <input class="input" placeholder="Tap on the virtual keyboard to start" />
    <div class="simple-keyboard"></div>

  </div>


  <%= link_to"結果","result" %>
</div>
