<div class="typing-wrap">
  <h2>Hello!</h2>
  <div class="start-wrap">
    <%= link_to "START", "typings/edit", class: "start" %>
  </div>
  <div class="my-characters">
      <div class="character"><%= image_tag("keybo-#{@character.level}.gif")%></div>
    <div class="level">keybo 15lv</div>
  </div>
</div>
