<div class="typing-wrap">
  <h2 class="typing-logo">Hello!</h2>
  <div class="start"><%= link_to"START","typings/edit" %></div>
  <div class="my-characters">
    <div class="character"><%= image_tag("keybo.png")%></div>
    <div class="level">keybo 15lv</div>
  </div>
</div>
