<div class="header">
  <div>
    <%= link_to image_tag("keybo.png"), "/" %>
    <span><%= link_to image_tag("logo.png", width: 410), "/" %></span>
  </div>
  <div class="menu-icon">
    <i class="fa-solid fa-bars"></i>
  </div>
</div>
