<div class="about-body">
<div class="about-contents">
  <div class="title">
  </div>
  <div class="about">
    <div class="box" id="js-target">
      こんにちは
      ボクの名前はkeyboです。<br/>
      
      このアプリは自分で辞書を作成できます。<br/>
      そして<br/>
      その辞書に登録した単語でタイピング練習ができます。<br/>
      正解数によってボクは成長します。<br/>
      これから一緒に成長していきましょう。<br/>
    </div>
    <div class="keybo">  <%= image_tag("k-first.gif") %> </div>
  </div>
</div>
  <%= render "shared/footer" %>
</div>
