<div class="main top-main">
  <div class="top-message">
    <h2>MINE TYPING</h2>
    <p>Yours Dictionary&Typing</p>
    <%= link_to "Dictionary","/posts" %>
    <%= link_to "Typing","/typings" %>
  </div>
</div>
