<div class="main top-main">
  <div class="top-message">
    <h2>MINE TYPING</h2>
    <p>Yours Dictionary&Typing</p>
    <nav>
      <ul>
        <li><a href="#">ABOUT</a></li>
        <li><a href="/posts">Dictionary</a></li>
        <li><a href="/typings">Typing</a></li>
        <li><a href="#">Characters</a></li>
      </ul>
    </nav>
  </div>
</div>
