<div class="header">
  <div>
    <%= link_to image_tag("keybo.png"), "/" %>
    <span><%= link_to image_tag("logo.png", width: 410), "/" %></span>
  </div>
  <div class="menu-icon">
    <i class="fa-solid fa-bars"></i>
  </div>
</div>

<div class="button-section">
  <a href="/posts/new" class="btn03 pushdown"><span>単語・用語を登録する</span></a>
  <a href="#" class="btn03 pushdown"><span>辞書を登録する</span></a>
</div>

<div class="contents">
  <div class="card-wrapper">
    <div class="card-container">
      <% @posts.each do |post| %>
        <div class="card">
          <div class="card__words"><%= post.word %></div>
          <div class="card__means"><%= post.mean %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>


  
