<%= render "shared/header" %>
<body style="background-color: #ABF3E6">

  <div class="post-main">
    <div class="form__wrapper">
      <div class="form-contents">
        <div class="form-content__top">単語・用語を登録する</div>
        <%= render partial: "form" %>
      </div>

    </div>
  </div>
</div>
