@charset "UTF-8";
$base-color: #BFE6FC;

body, html {
  height: 100%;
	background-color: $base-color;
}

body {
	color: #2d3133;
	margin: 0;
	min-height: 100vh;
}

.category-new-main {
	background-color: $base-color;
	display: flex;
	justify-content: center;
}
.form__wrapper {
	height: 400px;
	width: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #ffffff;
}


.page-heading {
	text-align: center;
	margin-bottom: 40px;
}


.category-card-container {
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(300px, 1fr)
	); /* カードの最小幅が250pxで、幅いっぱいにカードを配置 */
	grid-gap: 20px; /* カード同士の隙間 */
	margin: 30px 0 30px 30px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap; /* カードが横に増えたときに折り返す */
}




.category-card {
  position: relative;
  width: 245px;
  height: 260px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  background-image: url("book.png");
  background-repeat: no-repeat;
	background-size: 300px,100px;

}

.category-name {
  height: 60px;
  width: 80px;
  color: #000;
  font-weight: bold;
  position: absolute;
  top: 53%;
  left: 48%;
  transform: translateX(-50%) translateY(-50%);
}

.category-card__buttons {
  position: absolute;
  bottom: 0;
  right: 40px;
	
}
