@charset "UTF-8";
$base-color: #abf3e6;

/* posts/header ================================ */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgba(255, 255, 255, 0.5);
}

.header span img {
	margin-left: 16px;

	&:hover {
		opacity: 0.8;
	}
}

.header div i {
	font-size: 40px;
	margin-top: 15px;
}

.header .menu-icon {
	margin-right: 64px;
	cursor: pointer;
}

.top-image-keybo {
	margin-left: 40px;
}
.page-heading__logo {
	font-size: 20px;
}
/* posts/index ================================ */
.posts-index-item {
	padding: 20px 30px;
	background-color: white;
	overflow: hidden;
	box-shadow: 0 2px 6px #c1ced7;
}

/* posts/ 辞書の画面================================ */

/* 単語帳のカード */
.card-container {
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(300px, 1fr)
	); /* カードの最小幅が250pxで、幅いっぱいにカードを配置 */
	grid-gap: 20px; /* カード同士の隙間 */
	margin: 30px 0 30px 30px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap; /* カードが横に増えたときに折り返す */
}

.card {
	background-color: #ffffff;
	width: 350px;
	height: 200px;
	margin: 10px;
	padding: 10px;
	text-align: center;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	position: relative;
}

.card__words {
	height: 25px;
	width: auto;
	font-size: 23px;
	font-weight: bold;
	white-space: pre-wrap;
	word-break: break-word; /* 19文字で折り返す */
}

.card__mean{
	border-top: 1px solid #4b4b4b; 
	margin-top: 10px;
	padding-top: 10px;
	height: 120px; 
	overflow-y: auto;
}




/* 削除・編集ボタン	CSS */
.before-btn-edit:hover::after,
.btn-delete:hover::after {
  content: attr(class);
  position: absolute;
  bottom: -25px;
  left: -10px;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.card__buttons {
  position: absolute;
  bottom: -10px;
  right: 0;
}

.btn-delete {
  margin-right: 10px;
}

.before-btn-edit:hover::after {
  content: attr(class);
  position: absolute;
  bottom: -25px;
  left: -40px;
  background-color: #6e6e6e;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.btn-delete:hover::after {
  content: attr(class);
  position: absolute;
  bottom: -25px;
  right: 10px;
  background-color: #6e6e6e;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.before-btn-edit:hover::after {
  content: "編集";
}

.btn-delete:hover::after {
  content: "削除";
}
