<body style="background-color: #BFE6FC">
  <%= render "shared/header" %>
<div class="contents">
  <div class="content_new_btn">
    <a href="/categories/new" class="button-6 button-new"><span>新しい辞書を登録する</span></a>
  </div>
  <div class="category-card-wrapper">
    <div class="category-card-container">
      <% @categories.each do |category| %>
      <div class="category-card">
        <%= link_to category.name,"#" ,class:"category-name"%>
        <div class="category-card__buttons">
          <%= link_to image_tag("edit-btn.png", size: "25x20"), edit_category_path(category), class: "before-btn-edit"%>
          <%= link_to image_tag("delete-btn.png", size: "18x18"), category_path(category), method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn-delete"%>
        </div>
      </div>
      <% end %>
    </div>
    <div class="content_return_btn">
      <a href="/posts/index" class="button-6"><span>戻る</span></a>
    </div>
  </div>
</div>
</body>
