<%= render "shared/header" %>
<body style="background-color: #BFE6FC">
  <div class="category-new-main">
    <div class="form__wrapper">
      <h3 class="page-heading">新しい辞書を登録する</h3>
      <%= form_with(model: @category, local: true) do |f| %>
        <div class="field" style="text-align: center;">
          <%= f.label :name, "辞書の種類" %><br>
          <%= f.text_area :name, class: "form__text", id: "dictionary_word" %>
        </div>
        <div class="content_save_btn">
          <button class="button-6" role="button"><span>保存する</span></button>
        </div>
      <% end %>
      <div class="content_return_btn">
        <a href="/posts/index" class="button-6"><span>辞書に戻る</span></a>
      </div>
    </div>
  </div>

</body>
